data/cityscapes/annotations/instancesonly_filtered_gtFine_train.json filter=lfs diff=lfs merge=lfs -text
data/cityscapes/annotations/instancesonly_filtered_gtFine_val.json filter=lfs diff=lfs merge=lfs -text
data/cityscapes/annotations/instancesonly_filtered_gtFine_test.json filter=lfs diff=lfs merge=lfs -text
